@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  background: #1f3d34;
  /* verde escuro do tema */
}

nav a {
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 60px;
}

.logo img {
  height: 90px;
  border-radius: 200px;
}

#cart {
    right: 20px;
    top: 18px;
    font-size: 28px;
    cursor: pointer;
}

#badge {
    background: rgb(0, 0, 0);
    color: rgb(255, 253, 253);
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 14px;
    position: relative;
}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover { opacity: 0.8; }

#finalizar {
    width: 100%;
    margin-top: 15px;
    background: #586ed3;
    font-weight: bold;
    font-size: 15px;
}

#limpar {
    width: 100%;
    margin-top: 10px;
    background: #363a38;
    font-weight: bold;
    font-size: 15px;
}

#fechar {
    width: 100%;
    margin-top: 10px;
    background: #c0392b;
    font-weight: bold;
    font-size: 15px;
}
/* Modal do carrinho */
.modal-carrinho {
    z-index: 10000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-carrinho {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
/* FIM DO MODAL */

.menu-toggle {
    display: none;
    /* Oculto por padrão (desktop) */
    font-size: 35px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

nav a {
  margin: 0 15px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #EBA32D;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

header.scrolled nav a {
    color: #111;
}

.contato {
  padding: 120px 80px;
  background: #f8f9f7;
  margin-top: 40px;
}

.contato-header {
  text-align: center;
  max-width: 600px;
  margin: 0 auto 80px;
}

.contato-header span {
  font-size: 0.8rem;
  letter-spacing: 2px;
  color: #5b7f6b;
  font-weight: 600;
}

.contato-header h2 {
  font-size: 2.8rem;
  margin: 10px 0;
  color: #1e2d27;
}

.contato-header p {
  color: #6f7d77;
}

.contato-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: start;
}

/* FORM */
.contato-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.contato-form input,
.contato-form textarea {
  padding: 16px 20px;
  border-radius: 12px;
  border: 1px solid #e1e5e2;
  font-size: 0.95rem;
}

.contato-form input:focus,
.contato-form textarea:focus {
  outline: none;
  border-color: #5b7f6b;
}

.btn-enviar {
  background: #22c55e;
  color: #fff;
  border: none;
  padding: 16px;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: 0 8px 15px rgba(34, 197, 94, 0.3);
}

.btn-enviar:hover {
  background: #16a34a;
}

/* INFO BOX */
.contato-info {
  background: #684c0fe3;
  padding: 40px;
  border-radius: 20px;
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.info-item i {
  color: #eeac1d;
}

.contato-info h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.info-item {
  display: flex;
  gap: 15px;
  margin-bottom: 22px;
  align-items: flex-start;
}

.info-item span {
  background: rgba(255, 255, 255, 0.15);
  width: 42px;
  height: 42px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-item strong {
  display: block;
  font-size: 0.9rem;
}

.info-item p {
  font-size: 0.9rem;
  opacity: 0.9;
}

/* Produtos */
.produtos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
    padding: 40px;
}

.produto-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    transition: transform .3s;
    text-align: center;
}

.produto-card:hover {
    transform: translateY(-5px);
}

.produto-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.produto-card h3 {
    margin: 15px 0 5px;
}

.produto-card span {
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.produto-info {
    padding: 20px;
}

.acoes {
    display: flex;
    justify-content: center; /* CENTRALIZA */
    align-items: center;     /* ALINHA NO MEIO */
    gap: 15px;
    margin: 20px 0;
}


.acoes button {
    width: 45px;
    height: 45px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}


.btn-carrinho {
    width: 100%;
    padding: 15px;
    background: #2e7d32;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}
.produto-tela {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
  display: none;
  flex-direction: column;
}

.fechar-produto {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 32px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10000;
}

.produto-imagem {
  width: 100%;
  height: 45vh;
}

.produto-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.produto-detalhes {
  padding: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.produto-detalhes h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.produto-detalhes p {
  color: #555;
  margin-bottom: 15px;
}

.produto-detalhes strong {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 20px;
}

.controle-quantidade {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
}


.controle-quantidade button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
    cursor: pointer;
}


.btn-add {
  width: 100%;
  padding: 16px;
  background: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  cursor: pointer;
}

.produto-imagem {
  position: relative;
  width: 100%;
  height: 45vh;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.6);
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.seta.esquerda {
  left: 15px;
}

.seta.direita {
  right: 15px;
}


.seta:hover {
  background: rgba(0,0,0,0.8);
}
















/* RESPONSIVO */
@media (max-width: 900px) {
  .contato-grid {
    grid-template-columns: 1fr;
  }

  .contato {
    padding: 80px 30px;
  }
}

.footer {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: #222222;
  /* verde escuro elegante */
  color: #fff;
  padding: 60px 60px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand img {
  height: 115px;
  margin-bottom: 15px;
  border-radius: 300px;
}

.footer-brand p {
  color: #d9e5e1;
  font-size: 0.95rem;
  line-height: 1.6;
}

.footer h4 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #c9a24d;
  /* dourado */
}

.footer-links a {
  display: block;
  color: #d9e5e1;
  text-decoration: none;
  margin-bottom: 8px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #c9a24d;
}

.footer-contact p {
  color: #d9e5e1;
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.footer-bottom {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  font-size: 0.85rem;
  color: #cfd8d5;
}

.section-tag {
  color: #6b8f7a;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 500;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}
nav {
    display: flex;
    /* Desktop: horizontal */
    align-items: center;
}

nav {
        display: none;
        /* Esconde o nav por padrão */
    }
    
section {
  scroll-margin-top: 110px;
}

.iframe-section {
  padding: 80px 60px;
  background: #e2e2e2;
}

.iframe-section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-family: "Playfair Display", serif;
}

.iframe-section .section-tag {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.iframe-section p {
  text-align: center;
  color: #555;
  margin-bottom: 60px;
}

.iframe-container {
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.iframe-container iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.menu-toggle {
  display: none;
  /* Oculto por padrão (desktop) */
  font-size: 35px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

header.scrolled .menu-toggle {
  color: #111;
}

/* Menu hambúrguer ativo (mobile) */
#nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav.active a {
    margin: 10px 0;
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {

  /* Tablet */
  header .container {
    padding: 8px 40px;
  }

  .hero-content {
    margin-left: 40px;
  }

  .hero h1 {
    font-size: 3rem;
  }


  .specialties {
    padding: 40px 40px;
  }

  .specialties-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .testimonials {
    padding: 100px 40px;
  }

  .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .iframe-section {
    padding: 60px 40px;
  }

  .social {
    gap: 40px;
  }

  .footer {
    padding: 40px 40px 20px;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {

  /* Mobile */
  .menu-toggle {
    display: block;
    color: rgb(0, 0, 0);
    /* Mostra o botão hambúrguer */
  }

  nav {
    display: none;
    /* Esconde o nav por padrão */
  }

  header .container {
    padding: 8px 20px;
    flex-wrap: wrap;
  }

  .logo img {
    height: 70px;
  }

  .btn-header {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .hero-content {
    margin-left: 20px;
    max-width: 100%;
  }

  
  .hero h1 {
    font-size: 2.5rem;
  }

  .projects {
    padding: 60px 20px;
  }

  .projects h2 {
    font-size: 2.5rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    /* 1 coluna */
    gap: 20px;
  }

  .about-page {
    padding: 100px 0 60px;
    /* tira padding lateral */
  }

  .about-container {
    grid-template-columns: 1fr;
    /* vira coluna */
    gap: 40px;
    max-width: 100%;
  }

  .about-slider {
    width: 100vw;
    height: 320px;
    border-radius: 0;
    /* borda reta no mobile */
  }

  .about-content {
    padding: 0 20px;
    text-align: center;
  }

  .about-content h1 {
    font-size: 2.2rem;
  }

  .about-content p {
    text-align: center;
  }
}

.specialties {
  padding: 40px 20px;
}


.specialties h2 {
  font-size: 2.5rem;
}

.specialties-grid {
  grid-template-columns: 1fr;
  /* 1 coluna */
  gap: 20px;
}

.card {
  padding: 20px;
}

.testimonials {
  padding: 80px 20px;
}

.testimonials h2 {
  font-size: 2.5rem;
}

.testimonials-grid {
  grid-template-columns: 1fr;
  /* 1 coluna */
  gap: 20px;
}

.testimonial-card {
  padding: 30px 20px;
}

.iframe-section {
  padding: 60px 20px;
}

.iframe-section h2 {
  font-size: 2rem;
}

.iframe-container iframe {
  height: 300px;
}

.social {
  flex-direction: column;
  gap: 40px;
}

.social i {
  font-size: 36px;
}

.social p {
  font-size: 18px;
}

.footer {
  padding: 40px 20px 20px;
}

.footer-container {
  grid-template-columns: 1fr;
  /* 1 coluna */
  gap: 30px;
}

.footer-brand img {
  height: 90px;
}
