@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    background: transparent;
}

header.scrolled {
    background: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 60px;
    position: relative;
}

.logo img {
    height: 90px;
    border-radius: 200px;
}

#cart {
    right: 20px;
    top: 18px;
    font-size: 28px;
    cursor: pointer;
}

#badge {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 14px;
    position: relative;
}

button {
    padding: 10px 20px;
    border: none;
    background: #333;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover { opacity: 0.8; }

#finalizar {
    width: 100%;
    margin-top: 15px;
    background: #586ed3;
    font-weight: bold;
    font-size: 15px;
}

#limpar {
    width: 100%;
    margin-top: 10px;
    background: #363a38;
    font-weight: bold;
    font-size: 15px;
}

#fechar {
    width: 100%;
    margin-top: 10px;
    background: #c0392b;
    font-weight: bold;
    font-size: 15px;
}
/* Modal do carrinho */
.modal-carrinho {
    z-index: 10000;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content-carrinho {
    width: 90%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}
/* FIM DO MODAL */

.menu-toggle {
    display: none;
    /* Oculto por padrão (desktop) */
    font-size: 35px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

header.scrolled .menu-toggle {
    color: #111;
}

nav {
    display: flex;
    /* Desktop: horizontal */
    align-items: center;
}

nav a {
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
}

/* Hover bonito no menu */
nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: #EBA32D;
    left: 0;
    bottom: -6px;
    transition: width 0.3s;
}

nav a:hover::after {
    width: 100%;
}

header.scrolled nav a {
    color: #111;
}

.btn-header {
    padding: 10px 20px;
    border: 1px solid #c9a24d;
    color: #c9a24d;
    border-radius: 30px;
    text-decoration: none;
    transition: all 0.3s;
}

.btn-header:hover {
    background: #c9a24d;
    color: #fff;
}

.hero {
    height: 100vh;
    background: url("fundo.jpg") center/cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
}

.hero .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    color: #fff;
    max-width: 700px;
    margin-left: 80px;
}

.hero h1 {
    font-size: 3.5rem;
    line-height: 1.2;
}

.hero h1 span {
    color: #EBA32D;
}

.projects {
    padding: 100px 60px;
    text-align: center;
    background-color: #c4912d;
}

.projects h2 {
    font-size: 3rem;
    margin: 15px 0;
    font-family: "Playfair Display", serif;
}

.projects p {
    color: #000000;
    margin-bottom: 50px;
}

.projects-grid {
    display: grid;
    gap: 30px;
    justify-items: center;
}

.project {
    position: relative;
    border-radius: 16px;
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.imagem-modal {
    cursor: pointer;
    transition: 0.3s;
}

.imagem-modal:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.85);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 480px;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
}

.close {
    position: absolute;
    top: 30px;
    right: 50px;
    color: #fff;
    font-size: 45px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.close:hover {
    color: #c7831e;
}

.imagem-modal {
    cursor: pointer;
    transition: 0.3s;
}

.imagem-modal:hover {
    transition: ease-in-out 0.3s;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

.specialties {
    padding: 50px 60px;
    text-align: center;
    background: #ebebeb;
}

.section-tag {
    color: #EBA32D;
    letter-spacing: 2px;
    font-size: 0.8rem;
    font-weight: 600;
}

.specialties h2 {
    font-size: 3rem;
    margin: 15px 0;
    font-family: "Playfair Display", serif;
}

.specialties p {
    max-width: 850px;
    margin: 0 auto 70px;
    color: #666;
}

.specialties-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.card {
    background: #fff;
    padding: 30px 30px;
    border-radius: 24px;
    text-align: left;
    position: relative;
    transition: box-shadow 0.35s ease, transform 0.35s ease;
}

section {
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

.icon {
    width: 55px;
    color: #c9a24d;
    height: 55px;
    border-radius: 14px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    transition: transform 0.35s ease;
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    transform: translateY(-4px);
}

.card:hover .icon {
    transform: scale(1.15);
}

.icon {
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
    transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.testimonials {
    padding: 120px 60px;
    background: #f7f8f6;
    text-align: center;
}

.testimonials h2 {
    font-size: 3rem;
    margin: 15px 0;
    font-family: "Playfair Display", serif;
}

.testimonials .subtitle {
    max-width: 650px;
    margin: 0 auto 70px;
    color: #666;
}

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.testimonial-card {
    background: #fff;
    padding: 45px 40px;
    border-radius: 22px;
    position: relative;
    text-align: left;
}

.stars {
    color: #c9a24d;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.quote-icon {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 2.2rem;
    color: #cfd8cf;
}

.testimonial-text {
    color: #444;
    line-height: 1.7;
    margin-bottom: 35px;
}

.author {
    display: flex;
    align-items: center;
    gap: 15px;
}

.avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #e8efe9;
    color: #4f6f5d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.author span {
    font-size: 0.85rem;
    color: #777;
}

.iframe-section {
    padding: 80px 60px;
    background: #e2e2e2;
}

.iframe-section h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-family: "Playfair Display", serif;
}

.iframe-section .section-tag {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}

.iframe-section p {
    text-align: center;
    color: #555;
    margin-bottom: 60px;
}

.iframe-container {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.iframe-container iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.social {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    gap: 80px;
    text-align: center;
}

.social-item {
    text-decoration: none;
    color: inherit;
}

.social i {
    font-size: 48px;
    color: #a0742d;
    margin-bottom: 10px;
}

.social p {
    font-size: 22px;
    color: #444;
}

.footer {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: #222222;
    color: #fff;
    padding: 60px 60px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-brand img {
    height: 115px;
    margin-bottom: 15px;
    border-radius: 300px;
}

.footer-brand p {
    color: #d9e5e1;
    font-size: 0.95rem;
    line-height: 1.6;
}

.footer h4 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #c9a24d;
}

.footer-links a {
    display: block;
    color: #d9e5e1;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #c9a24d;
}

.footer-contact p {
    color: #d9e5e1;
    font-size: 0.95rem;
    margin-bottom: 8px;
}

.footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    font-size: 0.85rem;
    color: #cfd8d5;
}

/* Menu hambúrguer ativo (mobile) */
#nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

#nav.active a {
    margin: 10px 0;
    color: #000000;
    font-size: 1.2rem;
    text-align: center;
}

/* Media Queries para Responsividade */
@media (max-width: 1024px) {

    /* Tablet */
    header .container {
        padding: 8px 40px;
    }

    .hero-content {
        margin-left: 40px;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .projects {
        padding: 80px 40px;
    }

    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project img {
        width: 100%;
        height: 400px;
        /* altura padrão */
        object-fit: cover;
        /* mantém proporção */
        border-radius: 16px;
        display: block;
    }

    .specialties {
        padding: 40px 40px;
    }

    .specialties-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .testimonials {
        padding: 100px 40px;
    }

    .testimonials-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .iframe-section {
        padding: 60px 40px;
    }

    .social {
        gap: 40px;
    }

    .footer {
        padding: 40px 40px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {

    /* Mobile */
    .menu-toggle {
        display: block;
        color: white;
        /* Mostra o botão hambúrguer */
    }

    nav {
        display: none;
        /* Esconde o nav por padrão */
    }

    header .container {
        padding: 8px 20px;
        flex-wrap: wrap;
    }

    .logo img {
        height: 70px;
    }

    .btn-header {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .hero-content {
        margin-left: 20px;
        max-width: 100%;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .projects {
        padding: 60px 20px;
    }

    .projects h2 {
        font-size: 2.5rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
        /* 1 coluna */
        gap: 20px;
    }

      .project img {
        width: 100%;
        max-width: 100%;
        height: auto;
    } 

    
    .projects {
        padding: 40px 15px;
    }


    .specialties {
        padding: 40px 20px;
    }

    .specialties h2 {
        font-size: 2.5rem;
    }

    .specialties-grid {
        grid-template-columns: 1fr;
        /* 1 coluna */
        gap: 20px;
    }

    .card {
        padding: 20px;
    }

    .testimonials {
        padding: 80px 20px;
    }

    .testimonials h2 {
        font-size: 2.5rem;
    }

    .testimonials-grid {
        grid-template-columns: 1fr;
        /* 1 coluna */
        gap: 20px;
    }

    .testimonial-card {
        padding: 30px 20px;
    }

    .iframe-section {
        padding: 60px 20px;
    }

    .iframe-section h2 {
        font-size: 2rem;
    }

    .iframe-container iframe {
        height: 300px;
    }

    .social {
        flex-direction: column;
        gap: 40px;
    }

    .social i {
        font-size: 36px;
    }

    .social p {
        font-size: 18px;
    }

    .footer {
        padding: 40px 20px 20px;
    }

    .footer-container {
        grid-template-columns: 1fr;
        /* 1 coluna */
        gap: 30px;
    }

    .footer-brand img {
        height: 90px;
    }

}